<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Inventory</title>
</head>
<body>
	<!-- Business display header -->
	<div class="business-display">
		<h1 class="business-name">Your Business Name Here</h1>
	</div>

	<!-- Item addition form -->
	<div class="button">
		<button class="add-button">ADD</button>
	</div>
	<div class="item-form">
		<form>
			<input type="text" name="itemName" placeholder="Item Name"><br>
			<input type="text" name="vendor" placeholder="Vendor"><br>
			<input type="number" name="unitPrice" placeholder="Unit Price"><br>
			<input type="number" name="retailPrice" placeholder="Retail Price"><br>
			<input type="number" name="boh" placeholder="Balance On Hand"><br>
			<input type="number" name="ril" placeholder="Requested Inventory Level">
		</form>
	</div>

	<!-- Inventory list -->
	<div class="business-inventory">
		<h2 class="inventory-name">Your Business' Inventory</h2>
	<table class="inventory-items">
		<tr>
			<th>Item</th>
			<th>BOH</th>
			<th>RIL</th>
			<th>Sold</th>
		</tr>

	</table>
	</div>	
	
	<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../app.js"></script>
</body>
</html>