<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Inventory</title>
	<link rel="stylesheet" type="text/css" href="./user-inventory.css">
</head>
<body>
	<!-- Business display header -->
	<div class="business-display">
		<h1 class="business-name">Your Business Name Here</h1>
	</div>
	<div class="navigation">
		<button id="current-inventory">Current Inventory</button> <button id="sales">Sales History</button> <button id="vendor-button">Vendors</button>
	</div>

	<!-- Item addition form -->
	<section class="add-item">
		<div>
			<button class="button" id="add-button">ADD</button>
		</div>
		<div class="item-form">
			<form>
				<input type="text" name="itemName" placeholder="Item Name"><br>
				<input type="text" name="vendor" placeholder="Vendor"><br>
				<input type="number" name="unitPrice" placeholder="Unit Price"><br>
				<input type="number" name="retailPrice" placeholder="Retail Price"><br>
				<input type="number" name="boh" placeholder="Balance On Hand"><br>
				<input type="number" name="ril" placeholder="Requested Inventory Level">
			</form>
		</div>
	</section>	

	<!-- Inventory list -->
	<div class="business-inventory">
		<h2 class="data-title">Your Business' Inventory</h2>
		<table class="data-items" id="inventory-items">
			<tr>
				<th>Item</th>
				<th>BOH</th>
				<th>RIL</th>
				<th>Sold</th>
			</tr>
		</table>
	</div>

	<!-- Sales History -->
	<div class="sales-history">
		<h2 class="data-title">Your Sales History</h2>
		<table class="data-items" id="sales-history">
			<tr>
				<th>Item</th>
				<th>Sold</th>
			</tr>
		</table>
	</div>

	<!-- Vendor List -->
	<div class="vendor-list">
		<h2 class="data-title">Your Vendors</h2>
		<table class="data-items" id="vendors">
			<tr>
				<th>Vendor</th>
			</tr>
		</table>
	</div>
	<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../app.js"></script>
</body>
</html>